.vscode
__pycache__
.ipynb_checkpoints
vcpkg
checkpoints
datasets/annotations/
datasets/aolp/
datasets/caltech_cars/
datasets/english_lp/
datasets/open_alpr_eu/
datasets/ufpr_alpr/
datasets/ucsd_stills/
datasets/mania/
datasets/indian/
datasets/rename_files.py
darknet/darknet/*
!darknet/README.md
datasets/vehicles_cropped
datasets/vehicles_cropped_ucsd
datasets/vehicles_cropped_ucsd_mania
datasets/labelImg
datasets/OpenLabeling
datasets/lps_cropped
datasets/lps_cropped_neg
datasets/vehicle_det
datasets/coco
datasets/all_annos.json
datasets/v_det_blurred
datasets/test_imgs
datasets/lps_cropped_neg_ratio
datasets/lps_cropped_n_r_gen
datasets/lps_cropped_n_r_perm
datasets/lps_cropped_neg_perm
datasets/lps_cropped_neg_grey
datasets/lps_cropped_gen
datasets/lps_cropped_perm
datasets/lps_cropped_ucsd
datasets/lps_cropped_ucsd_mania
vtc/datasets/*
!vtc/datasets/README.md
vtc/saved_models/*
!vtc/saved_models/README.md
darknet/saved_data/*
!darknet/saved_data/README.md