.vscode
__pycache__
.ipynb_checkpoints
yolov4.weights
yolov4-tiny.weights
yolov4-tiny-relu.weights
yolov3.weights
yolov3_model.h5
LP_VT_det_rec/yolov3/yolov3_ml_space/weights
vcpkg
checkpoints
variables
saved_model.pb
LP_VT_det_rec/yolov4/test/dataset/val2017/*
LP_VT_det_rec/datasets/annotations/
LP_VT_det_rec/datasets/aolp/
LP_VT_det_rec/datasets/caltech_cars/
LP_VT_det_rec/datasets/english_lp/
LP_VT_det_rec/datasets/open_alpr_eu/
LP_VT_det_rec/datasets/ufpr_alpr/
LP_VT_det_rec/datasets/ucsd_stills/
LP_VT_det_rec/datasets/mania/
LP_VT_det_rec/datasets/indian/
LP_VT_det_rec/datasets/rename_files.py
LP_VT_det_rec/darknet/darknet/*
!LP_VT_det_rec/darknet/README.md
LP_VT_det_rec/yolov4/test/logs
LP_VT_det_rec/yolov4/test/saved_weights
LP_VT_det_rec/datasets/vehicles_cropped
LP_VT_det_rec/datasets/vehicles_cropped_ucsd
LP_VT_det_rec/datasets/vehicles_cropped_ucsd_mania
LP_VT_det_rec/datasets/labelImg
LP_VT_det_rec/datasets/OpenLabeling
LP_VT_det_rec/datasets/lps_cropped
LP_VT_det_rec/datasets/lps_cropped_neg
LP_VT_det_rec/datasets/vehicle_det
LP_VT_det_rec/datasets/coco
LP_VT_det_rec/datasets/all_annos.json
LP_VT_det_rec/datasets/v_det_blurred
LP_VT_det_rec/datasets/test_imgs
LP_VT_det_rec/datasets/lps_cropped_neg_ratio
LP_VT_det_rec/datasets/lps_cropped_n_r_gen
LP_VT_det_rec/datasets/lps_cropped_n_r_perm
LP_VT_det_rec/datasets/lps_cropped_neg_perm
LP_VT_det_rec/datasets/lps_cropped_neg_grey
LP_VT_det_rec/datasets/lps_cropped_gen
LP_VT_det_rec/datasets/lps_cropped_perm
LP_VT_det_rec/datasets/lps_cropped_ucsd
LP_VT_det_rec/datasets/lps_cropped_ucsd_mania